option_settings:
   - namespace: aws:elasticbeanstalk:application:environment
     option_name: DB_HOST
     value: aawxkzy8ag6a0z.cj3u4t4jm1eo.us-east-1.rds.amazonaws.com
   - option_name: DB_PORT
     value: 3306
   - option_name: DB_NAME
     value: laraveldb
   - option_name: DB_USER
     value: admin
   - option_name: DB_PASS
     value: password